<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ornaments_Register.Properties.Settings.ConnectionString"
            connectionString="Data Source=&quot;C:\Users\takk\develop\ornamentsregister\OrnamentsRegisterDatabase\OrnamentsRegister&quot;"
            providerName="Devart.Data.SQLite" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>